<header>
<h1>Pokedex!</h1>
<nav>
  <div id="nav-left">
    <a href="/">Home</a>
    <a href="https://pokemon.fandom.com/wiki/Pok%C3%A9mon_Wiki">Wiki</a>
    <a href="/account">Account</a>
    <a href="">Cart</a>
  </div>
  <div id="login-link">
    <a href="/login">Login</a>
  </div>
</nav>
</header>
