<header>
  <h1>Pokedex!</h1>
  <nav>
    <div id="nav-left">
      <a href="/">Home</a>
      <a href="/game">Game</a>
      <a href="/account">Account</a>
      <a href="/cart/view">Cart</a>
    </div>
    <div id="login-link">
      <a href="/login">Login</a>
    </div>
  </nav>
</header>
