<h1>Pokedex!</h1>
<nav>
  <div id="nav-left">
    <a href="/">Home</a>
    <a href="https://pokemon.fandom.com/wiki/Pok%C3%A9mon_Wiki">PokeWiki</a>
    <a href="/account">My Account</a>
    <a href="">My Cart</a>
  </div>
  <div id="login-link">
    <a href="/login">Login</a>
  </div>
</nav>
