body {
  height: auto !important;
}

h3 {
  font-size: smaller;
}

main {
  margin-top: 30px;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(242, 242, 242);
  border: 2px solid gray;
  border-radius: 10px;
}

form>* {
  margin: 0.25em;
}

#text-inputs {
  /* margin-bottom: 0.5em; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#text-inputs label {
  width: 100px;
  margin-bottom: 0.5em;
}

label[for="admin"] {
  margin-top: 1em;
  color: hsl(0, 75%, 50%);
}

#update-database-button {
  font-size: 16px;
  margin-top: 1em;
  align-self: center;
  padding: 0.25em 0.5em;
}

/********** User List **********/

#user-list-container {
  width: clamp(380px, 80%, 800px);
  height: clamp(161px, fit-content, 300px);

  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid gray;
  overflow: scroll;
}

#user-list-header {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 2fr;
}

#user-list-header * {
  text-align: left;
  font-size: 16px;
}

.user {
  padding: 0.5em;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 1fr 1fr;
}

.user * {
  text-align: left;
}

button {
  width: fit-content;
  margin: 0 0.5em;
}

.isAdmin {
  color: hsl(0, 75%, 50%);
}

.selected-row {
  background-color: rgb(248, 162, 162) !important;
}

.order-row,
.order-items {
  padding: 1em;
}

.row-even {
  background-color: hsl(212, 10%, 94%);
}

.row-odd {
  background-color: hsl(212, 10%, 97%);
}