#search_history {
  width: 100px;
}

#history-button-container {
  background-color: none !important;
  justify-content: flex-end !important;
}

main {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cart-container {
  height: 100%;
  width: clamp(450px, 80%, 600px);
  /* display: flex; */
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  border: 2px solid gray;
}
#cart-title {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#cart-title h2 {
  padding-top: 5px;
}

#cart-items {
  height: 100%;
  overflow: scroll;
}

.cart-item {
  padding: 0.5em 1em;
  display: grid;
  grid-template-columns: 5fr 2fr 5fr;
  font-size: 14px;
}
.cart-header {
  font-weight: bold;
  font-size: larger;
  background-color: hsl(277, 100%, 97%);
  border-bottom: solid 6px hsl(277, 100%, 93%);
}
.row-even {
  background-color: hsl(212, 10%, 94%);
}
.row-odd {
  background-color: hsl(212, 10%, 97%);
}
.quantity-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
}

.cart-item-quantity {
  width: 1em;
  text-align: center;
  color: rgb(65, 65, 229);
}
#cart-empty {
  margin: 1em;
  text-align: center;
  font-style: italic;
}
