#search_history {
  width: 100px;
}

#history-button-container {
  background-color: none !important;
  justify-content: flex-end !important;
}

main {
  margin-top: 30px;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.history-container {
  margin-top: 10px;
  height: 50%;
  width: clamp(450px, 80%, 800px);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#events,
#orders {
  /* height: 90%; */
  height: clamp(161px, fit-content, 300px);
  background-color: white;
  border: 2px solid gray;
  /* border-radius: 15px; */
  overflow: scroll;
}

.event {
  margin: 0.5em;
}

.event-hit-counter,
.event-time {
  color: hsl(240, 55%, 51%);
}

.event-hit-counter {
  display: inline-block;
  background-color: hsl(240, 75%, 97%);
  border-radius: 1em;
  width: 1.5em;
  padding: 0.25em;
  text-align: center;
}

#no-events {
  margin: 1em;
  text-align: center;
  font-style: italic;
}