* {
    box-sizing: border-box;
    margin: 0;
    font-family: monospace;
}

body {
    background-color: hsl(167, 100%, 95%);
}

/* body,
html {
    height: 100%;
} */

a {
    color: inherit;
    text-decoration: inherit;
    display: block;
    height: max-content;
}

h1,
h2,
h3 {
    font-family: 'Coiny', cursive;
    text-align: center;
}

h1 {
    font-size: clamp(32px, 6vw, 48px);
}

h2 {
    font-size: clamp(24px, 3vw, 40px);
}

h3 {
    font-size: 24px;
}

header {
    background-color: hsl(60, 100%, 90%);
}

#footer-text {
    color: hsl(194, 57%, 70%);
    width: 100%;
    text-align: center;
    font-size: 20px;
}

nav {
    background-color: hsl(194, 57%, 80%);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

#nav-left {
    display: flex;
    justify-content: flex-start;
}

nav a {
    font-size: 12px;
    font-family: 'Press Start 2P', monospace;
    background-color: none;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    padding: 0.75em 1em;
    margin: 0.75em;
    text-align: center;
}

nav a:hover {
    background-color: hsl(194, 70%, 85%);
}

main {
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

#search {
    padding: 0.25em;
    background-color: hsl(60, 56%, 80%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-group {
    margin: 0.5em;
    padding: 0.5em 0.7em;
    border-radius: 12px;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

label {
    margin: 0.25em;
    font-size: 11px;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    display: block;
    text-align: center;
}

#search_history {
    width: 100px;
}

#event-history {
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#events {
    width: clamp(400px, 80%, 600px);
    height: 100%;
    padding: 10px;
    background-color: white;
    border: 2px solid gray;
    /* border-radius: 15px; */
    overflow: scroll;
}

.event-group {}

/*** index.html ***/

.images_group {
    display: flex;
    flex-direction: column;
}

.pokemon_card {
    /* width: 100%; */
    margin: 1.25em;
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 10px;
    box-shadow: 4px 6px 8px gray;
    background-image: linear-gradient(hsl(210, 100%, 93%), hsl(277, 100%, 93%));
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.pokemon_id {
    margin: 1em;
    font-family: monospace;
}

.pokemon_title {
    margin: 1em;
    text-shadow: 2px 2px 2px white;
}

.image_container {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
}

img {
    width: 80%;
}

/*** profile.ejs ***/

#left {
    width: 33%;
    justify-content: flex-start;
}

#right {
    width: 66%;
    margin: 1.25em;
    padding: 1.25em;
    border: 1.5px solid hsl(0, 0%, 40%);
    border-radius: 20px;
    box-shadow: 4px 6px 8px gray;
    background-image: linear-gradient(hsl(29, 100%, 92%), hsl(228, 100%, 92%));
    justify-content: center;
}

#left,
#right {
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    /* gap: 20px; */
}

#main-img {
    display: flex;
    justify-content: center;
    align-content: center;
}

#stats {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

#stats,
#abilities {
    /* margin: 1.25em; */
    border-radius: 10px;
    background-color: hsla(180, 0%, 100%, 0.35);
}

.stat {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
}

.stat label {
    font-size: smaller;
}

progress {
    width: 80%;
    height: 1.5em;
    align-self: center;
    accent-color: hsl(180, 80%, 45%);
}

#abilities {
    display: flex;

}

.ability {
    margin: 0.5em;
    padding: 0.25em 0.5em;
    font-size: 16px;
    background-color: hsl(180, 80%, 45%, 50%);
    border-radius: 8px;
}

@media screen and (max-width: 600px) {

    main,
    #search {
        flex-direction: column;
        align-items: center;
    }

    .search-group {
        width: 80%;
    }

    #left,
    #right {
        width: 95%;
    }
}