* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: hsl(167, 100%, 95%);
}

/* body,
html {
    height: 100%;
} */

a {
    color: inherit;
    text-decoration: inherit;
    display: block;
    height: max-content;
}

h1 {
    /* padding: 5px; */
    font-size: 36px;
    font-style: italic;
}

h1,
h2 {
    font-size: 20;
    font-family: 'Coiny', cursive;
    text-align: center;
}

header {
    background-color: hsl(60, 100%, 88%);
}

main {
    /* margin: 1vw; */
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

#search {
    padding: 0.25em;
    background-color: hsl(60, 56%, 80%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-group {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 12px;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

label {
    margin: 0.25em;
    font-size: 12px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    display: block;
    text-align: center;
}

#search_history {
    width: 100px;
}

/*** index.html ***/
#pokemon_name {
    width: 130px;
}

.images_group {
    display: flex;
    flex-direction: column;
}

.pokemon_card,
#stats {
    /* width: 100%; */
    margin: 1.25em;
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 8px;
    box-shadow: 4px 6px 8px gray;
    background-image: linear-gradient(hsl(210, 100%, 95%), hsl(277, 100%, 95%));
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.pokemon_id {
    margin: 1em;
    font-family: monospace;
}

.pokemon_title {
    font-size: 24px;
    margin: 1em;
    text-shadow: 2px 2px 2px white;
}

.image_container {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
}

img {
    width: 60%;
}

/*** profile.ejs ***/

#left {
    width: 33%;
}

#right {
    width: 66%;
}

#left,
#right {
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* gap: 20px; */
}

#main-img {
    display: flex;
    justify-content: center;
    align-content: center;
}

#stats {
    height: 80%;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.stat {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
}

.stat label {
    font-size: smaller;
}

progress {
    width: 80%;
    height: 1.5em;
    align-self: center;

}

@media screen and (max-width: 700px) {

    main,
    #search {
        flex-direction: column;
        align-items: center;
    }

    .search-group {
        width: 80%;
    }

    #left,
    #right {
        width: 95%;
    }
}